@import "src/index";

.inputs {
  position: relative;
}

.input {
  position: relative;
  display: block;
  width: calc(100% - 48px);
  outline: none;
  @extend %input;
}

.close {
  font-weight: 500;
  position: absolute;
  top: calc(30px + 14px);
  right: 10px;
  user-select: none;
  cursor: pointer;
  color: $text-color;
  opacity: .4;
  transition: .15s;
  background-color: transparent;
  outline: none;
  border: none;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-height: 21px;
  &:hover {
    opacity: 1;
  }
}

.closed {
  opacity: 0;
  pointer-events: none;
  transition: .15s;
  color: transparent;
}

.error {
  @extend %inputError;
}