@import "src/index";

.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  @media screen and (max-width: 479px) {
    gap: 20px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text__area {
  display: flex;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  gap: 30px;
  @media screen and (max-width: 479px) {
    flex-direction: column;
    gap: 20px;
  }
}