@import "src/index";

.inputs {
  position: relative;
}

.input {
  position: relative;
  border-radius: 8px;
  outline: none;
  border: 1px solid $buttons;
  background-color: $buttons;
  color: $text-color;
  font-size: 18px;
  width: calc(100%);
  display: flex;
  flex-wrap: wrap;
  min-height: 38px;
  gap: 5px 5px;
  align-items: center;
  margin: 0;
  cursor: text;
  padding: 8px 40px 8px 8px;
}

.input__disabled {
  cursor: default;
}

.input_ {
  padding: 0;
  border: none;
  border-radius: 0;
}

.modal {
  pointer-events: none;
  position: absolute;
  width: 100%;
  left: 0;
  height: fit-content;
  background-color: $buttons-active;
  top: calc(100% + .5rem);
  border-radius: 8px;
  opacity: 0;
  transition: .15s;
  overflow: hidden;
  overflow-y: auto;
  max-height: calc(38px * 5);
  cursor: default;
  @extend %scroller;
  z-index: 1;
}

.modalActive {
  opacity: 1;
  pointer-events: all;
}

.item {
  display: flex;
  align-items: center;
  font-size: 20px;
  height: 30px;
  padding: 4px 8px;
  &:hover {
    cursor: pointer;
    background-color: $item-color;
  }
}

.item__disabled:hover {
  cursor: default;
  background-color: transparent;
}

%close__disabled {
  pointer-events: none;
  transition: .15s;
  color: transparent;
}

.close {
  font-weight: 500;
  position: absolute;
  right: 10px;
  user-select: none;
  cursor: pointer;
  color: $text-color;
  opacity: .4;
  transition: .15s;
  background-color: transparent;
  outline: none;
  border: none;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  &:disabled {
    @extend %close__disabled;
  }
  &:hover {
    opacity: 1;
  }
}

.closed {
  opacity: 0;
  @extend %close__disabled
}

.close__tag {
  height: 21px;
  right: 4px;
  opacity: 1;
  position: relative;
  top: unset;
  color: $text-color;
  &:disabled {
    color: $text-color;
  }
}

.tag {
  border-radius: 4px;
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  max-height: 20px;
  padding: 0 4px;
  background-color: $item-color;
  gap: 8px;
  width: fit-content;
  overflow: hidden;
  cursor: default;
}

.tag h6 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}