$body-background: #11151C;
$text-color: #F7F7FF;
$buttons: #212D40;
$buttons-active: #364156;

$red: #D66853;
$green: #8FA998; // #A4B494
$light-green: #20BF55;
// form
$thumb-color: #8FA998;
$item-color: #8FA998;

body {
  margin: 0;
  background-color: $body-background;
  color: $text-color;
}

.wrapper {
  padding: 30px 10vw;
}